.all-ai-section {
  min-height: 100vh;
  padding: 120px 8%;
  background: #0d0d0d;
  color: white;
  text-align: center;
}

.all-ai-heading {
  font-size: 64px;
  margin-bottom: 60px;
}

.all-ai-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

.all-ai-card {
  border-radius: 18px;
  overflow: hidden;
  background: #111;
  box-shadow: 0 25px 70px rgba(0, 0, 0, 0.6);
}

.all-ai-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.back-btn {
  position: fixed;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;

  width: fit-content;

  background: transparent;
  border: 1px solid #4da6ff;
  color: white;
  padding: 12px 26px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;

  transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;

  backdrop-filter: blur(10px);
  z-index: 2;
}

.back-btn:hover {
  background: #4da6ff;
  color: black;
  box-shadow: 0 10px 25px rgba(77, 166, 255, 0.4);
}
