* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #111;
}

html {
    scroll-behavior: smooth;
}

.main-content {
  position: relative;
  z-index: 1;
  margin-top: 100vh; /* pushes content below the fixed home */
  background: #111;  /* section background */
}
